.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.tmp_pypdf/
.idea/
.vscode/
.DS_Store
Thumbs.db
*.tfvars
terraform.tfvars
!*.tfvars.example
*.pem
infra/aws/ansible/inventory/hosts.ini
infra/aws/ansible/vault/vault_pass
infra/aws/ansible/vault/vault.yml
