aws_region           = "ap-northeast-2"
network_state_bucket = "8team-terraform-tfstate"
network_state_key    = "network/terraform.tfstate"
network_state_region = "ap-northeast-2"
# network_state_access_key = "change-me"
# network_state_secret_key = "change-me"

name_prefix = "ktcloud2nd-dev"

db_name     = "vehicle_db"
db_username = "dbadmin"
db_password = "change-me"

instance_class          = "db.t3.micro"
allocated_storage       = 20
storage_type            = "gp3"
backup_retention_period = 1

tags = {
  Environment = "dev"
  Owner       = "infra3"
}
