version: '3.8'

services:
  # 파이썬 데이터 정제기
  python-processor:
    image: python:3.9-slim
    container_name: python-processor
    volumes:
      - /home/{{ ansible_user }}/consumer-app/app:/app
    working_dir: /app
    command: sh -c "pip install --no-cache-dir -r requirements.txt && python processor.py"
    environment:
      # 9094(외부용) 대신 내부 통로인 9091 사용
      KAFKA_BROKER: "{{ broker_internal_ip }}:9091"
  # Kafka Connect
  kafka-connect:
    image: {{ dockerhub_username }}/custom-kafka-connect:latest # confluentinc/cp-kafka-connect:7.5.0
    container_name: kafka-connect
    ports:
      - "8083:8083"
    environment:
      KAFKA_HEAP_OPTS: "-Xmx512M -Xms512M"

      # 9091~9093: Broker VM의 내부 IP와 연결된 문 (같은 Azure VNET 안에 있는 Consumer VM은 이 문으로 들어오는 게 훨씬 빠르고 안전함)
      # 9094~9096: Broker VM의 공인 IP와 연결된 문 (온프레미스 시뮬레이터가 들어오는 전용 통로)
      CONNECT_BOOTSTRAP_SERVERS: "{{ broker_internal_ip }}:9091,{{ broker_internal_ip }}:9092,{{ broker_internal_ip }}:9093"
      CONNECT_REST_ADVERTISED_HOST_NAME: "kafka-connect"
      CONNECT_REST_PORT: 8083
      CONNECT_GROUP_ID: "consumer-connect-cluster"
      
      CONNECT_CONFIG_STORAGE_TOPIC: "connect-configs"
      CONNECT_OFFSET_STORAGE_TOPIC: "connect-offsets"
      CONNECT_STATUS_STORAGE_TOPIC: "connect-status"
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: 1
      
      CONNECT_KEY_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      CONNECT_VALUE_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      CONNECT_KEY_CONVERTER_SCHEMAS_ENABLE: "false"
      CONNECT_VALUE_CONVERTER_SCHEMAS_ENABLE: "false"
      
      CONNECT_PLUGIN_PATH: "/usr/share/confluent-hub-components"
      
      # AWS S3에 접근하기 위한 값
      # AWS_ACCESS_KEY_ID: "{{ aws_access_key }}"
      # AWS_SECRET_ACCESS_KEY: "{{ aws_secret_key }}"
      # AWS_REGION: "{{ aws_region }}"

      # Azure Blob Storage에 접근하기 위한 값
      # AZURE_STORAGE_ACCOUNT_NAME: "{{ azure_storage_account_name }}"
      # AZURE_STORAGE_ACCOUNT_KEY: "{{ azure_storage_primary_key }}"

    # S3 커넥터는 Confluent 허브에서 정석대로 설치
    command: 
      - bash
      - -c
      - |
        confluent-hub install --no-prompt confluentinc/kafka-connect-s3:latest
        /etc/confluent/docker/run
    restart: always