# Broker VM public entrypoints
BROKER_BOOTSTRAP_SERVERS=broker-public-ip-or-dns:9094,broker-public-ip-or-dns:9095,broker-public-ip-or-dns:9096

# Kafka Connect
KAFKA_CONNECT_PORT=8083

# Processor
RAW_TOPIC=raw_topic
CLEANSED_TOPIC=cleansed_topic
PROCESSOR_CONSUMER_GROUP_ID=azure-cleansing-group

# Azure PostgreSQL placeholders for JDBC Sink connector registration
AZURE_POSTGRES_HOST=replace-with-private-postgres-host
AZURE_POSTGRES_PORT=5432
AZURE_POSTGRES_DB=replace-with-db-name
AZURE_POSTGRES_USER=replace-with-db-user
AZURE_POSTGRES_PASSWORD=replace-with-db-password

# AWS S3 placeholders for S3 Sink connector registration
AWS_ACCESS_KEY_ID=replace-with-access-key
AWS_SECRET_ACCESS_KEY=replace-with-secret-key
AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=replace-with-target-bucket
