aws_region = "ap-northeast-2"

name_prefix = "ktcloud2nd-dev"

availability_zones = [
  "ap-northeast-2a",
  "ap-northeast-2c",
]

vpc_cidr = "10.0.0.0/16"

public_subnet_cidrs = [
  "10.0.0.0/24",
  "10.0.1.0/24",
]

private_app_subnet_cidrs = [
  "10.0.10.0/24",
  "10.0.11.0/24",
]

private_db_subnet_cidrs = [
  "10.0.20.0/24",
  "10.0.21.0/24",
]

enable_multi_nat = false

tags = {
  Environment = "dev"
  Owner       = "infra1"
}
